@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
font-family: "Poppins", serif;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#wrapper{
    height: 100%;
    background-color: white;
    
    
}
.container{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
}
.text{
    font-family: "Poppins", serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3rem 0 0rem;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-left img{
    width: 80px;
    margin-right: -20px;
}
.logo-text{
    font-size: 1.5rem;
}
.nav-right{
    display: flex;
    gap: 2em;
}
.nav-click{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 3.5rem 0 9rem 0;
}
.background-text{
    position: absolute;
    bottom: -45px;
    left: 0;
    font-size: 7rem;
    user-select: none;
    color: rgb(231, 231, 231);
    font-weight: 500;
}
.hero-section-left{
    flex-direction: column;
    display: flex;
    gap: 30px;
}
.hero-heading{
    font-size: 2.1rem;
    color: rgb(52, 61, 104);
}
.hero-subheading{
    font-size: 2.7rem;
    color: rgb(52, 61, 104);
}
span{
    color: rgb(78, 69, 213);
    font-weight: 600;
}
.hero-para{
    font-size: 1rem;
    width: 65%;
}
.hero-section-right{
    z-index: 1;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.user-image{
    padding: 3rem;
    background-color: rgb(255, 255, 255);
    filter: grayscale (1) ;
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
    z-index: -1;
}
@keyframes scaleImage {
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }

    50%{
        filter: grayscale(1);
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        filter: grayscale(0);
        transform: scale(1);
    }
}
.hero-dots{
    bottom: -30rem;
    right: -1rem;
    animation: dotsmove 5s linear infinite;
    z-index: 7;
}
@keyframes dotsmove {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(0px);

    }
    100%{
        transform: translateY(10px);

    }
}
.hero-cube{
    z-index: 7;
    top: 3rem;
    right: 1rem ;
    animation: cuberotate 5s ease infinite;
}
@keyframes cuberotate{
    0%{
        transform: translateY(0px) rotateY(0deg);
    }
    50%{
        transform: translateY(20px) rotateY(180deg);
    }
    100%{
        transform: translateY(0px) rotateY(0deg);
    }
}
.hero-circle{
    z-index: 7;
    bottom: 12rem;
    left: 780px;
    animation: circleslant 6s linear infinite;
}
@keyframes circleslant{
    0%{
        transform: translateY(0) translateX(0); 
    }
    50%{
        transform: translateY(70px) translateX(-40px); 
    }
    100%{
        transform: translateY(0) translateX(0); 
    }
}
.hero-zigzag{
    z-index: 9;
    top: 5rem;
    animation: zigzag 5s linear infinite;
}
@keyframes zigzag{
    0%{
        transform: translateX(5px);
    }
    50%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(5px);
    }
}
.hero-plus{
    right: 12rem;
    top: 2rem;
    animation: plus 5s linear infinite;
}
@keyframes plus{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}
.btn{
    background-color: rgb(232, 73, 73);
    color: white;
    padding: 0.8rem 2.1rem;
    font-size: 18px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    width: 90px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn::before{
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.8s;
    z-index: -2;

}
.btn:hover::before{
    transform:scaleX(1);
    
}
.btn:hover{
    color: black;
    transition: 0.4s;
}





.project-section{
    background-color: rgb(231, 231, 231);
}
.project-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.project-top-heading{
    transform: translateY(-50px);
}
.top-heading{
    font-size: 6rem;
    font-weight: 500;
    color: rgb(232, 73, 73);
}
.project-container{
    width: 1200px;
    transform: translateY(-7rem);
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.project-cards{
    width: 90%;
    height: 550px;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px black;
    
}



.card-content-left{
    position: absolute;
    z-index: 11;
    display: flex;
    flex-direction: column;
    top: 130px;
    left: 130px;
    transition :all 0.4s;
    
}
.card-content-right{
    position: absolute;
    z-index: 11;
    display: flex;
    flex-direction: column;
    top: 130px;
    left: 500px;
    transition :all 0.4s;
}
.project-cards::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1f1f1f9a;
    
    
}
.project-cards::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(55, 47, 134, 0.452);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 3;
}
.project-cards:hover::before{
    transform: scaleX(1);
}
.product-number-right{
    position: absolute;
    color: white;
    font-size: 200px;
    font-weight: 450;
    z-index: 10;
    top: -240px;
    left: 920px;
    opacity: 0;
}
.project-cards:hover .product-number-right{
    opacity: 1;
}
.product-number-left{
    position: absolute;
    color: white;
    font-size: 200px;
    font-weight: 450;
    z-index: 8;
    top: -240px;
    left: -50px;
    opacity: 0;
}
.project-cards:hover .product-number-left{
    opacity: 1;
}
.skills-logo{
    width: 40px;
}
.project-skills{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 60%;
}
.project-heading-text{
    color: white;
    font-size: 50px;
    font-weight: 450;
}
.project-subheading{
    color: white;
}
.project-subheading{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    padding-bottom: 10px;
    font-style: italic;
}
.project-cards:hover .card-content-left{
    transform: scale(1.1);
    transition :all 0.4s;
    transition-timing-function: ease-in-out;
}
.project-cards:hover .card-content-right{
    transform: scale(1.1);
    transition :all 0.4s;
    transition-timing-function: ease-in-out;
}
#project1{
    background-image: url(projectimages/Project1.png);
}
#project2{
    background-image: url(projectimages/Project2.png);
    margin-left: 10%;
}
#project3{
    background-image: url(projectimages/Project3.png);
}
#project4{
    background-image: url(projectimages/Project4.png);
    margin-left: 10%;
}
.read{
    font-family: "Poppins", serif;
    font-size: 16px;
}

#tech-wrapper{
    height: 1200px
}
.tech-container{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 900px;
    
    
}
.tech-stack{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 100px;
}
.tech-skills{
    width: 95px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    transform: scale(1);
    transition: 0.4s;
}
.tech-skills:hover{
    transform: scale(1.15);
    
}
.tech-skills-blob{
    position: absolute;
    z-index: 0;
}
.uneditable-text{
    font-size: 15rem;
    font-weight: 400;
    position: absolute;
    z-index: 0;
    transform: translateY(377px) translateX(450px);
    color: rgb(231, 231, 231);
    user-select: none;
}
.tech-stack-left{
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 140%;

}
.tech-stack-right{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    z-index: 1;
    
}
.stack-heading{
    font-size: 50px;
    font-weight: 500;
    color: rgb(232, 73, 73);
}
.big-m{
    font-size: 100px;
    font-weight: 500;
    line-height: 0px;
    color: rgb(232, 73, 73);
}
.stack-para{
    text-align:justify;
}
.tech-skills-blob{
    animation: float 7s linear infinite;
}
@keyframes float{
    0%{
        transform: translateX(0px) translateY(0px);

    }
    50%{
        transform: translateX(200px) translateY(200px);
    }
    100%{
        transform: translateX(0px) translateY(0px);
    }
}




#contact-wrapper{
    background-color: rgb(231, 231, 231);
    transform: translateY(-295px);
}
.contact-container{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 110px;
}
.contact-info-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-top: -100px;
}
.formfield{
    border: none;
    border-radius: 6px;
    height: 3em;
    padding-left: 2em;
    box-shadow: 2px 2px 5px;
    
}
.formfield-textarea{
    width: 97%;
    border: none;
    padding: 1em 0 0 2em;
    border-radius: 6px;
    box-shadow: 2px 2px 5px;
    
}
.formfield-gap{
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
form{
    width: 80%;
    margin: 0 auto;
}
.btn-last{
    width: 150px;
    border: none;
    margin-top: 60px;
    box-shadow: 2px 2px 6px black;
    transform: scale(1);
    transition: 0.3s;
}
.btn-last:hover{
    transform: scale(0.8);
    
}
.contact-heading h1{
    font-size: 100px;
    font-weight: 500;
    color:rgb(232, 73, 73) ;
}
.contact-subheading h3{
    font-size: 47px;
    font-weight: 500;
    transform: translateY(-125px);
    color: rgb(112, 118, 146);
}
input::placeholder{
    font-size: 20px;
}
textarea::placeholder{
    font-size: 20px;
}





#last-wrapper{
    width: 100%;
    height: 250px;
    
    background-color: rgb(52, 61, 104);
    margin-top:-300px ;
    display: flex;
    align-items: end;
    margin-bottom: 0;
}
.last-container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: relative;
}
footer{
    display: flex;
    justify-content: space-between;
    
    width: 1200px;
}
.background-last-text{
    font-size: 100px;
    position: absolute;
    z-index: 0;
    color: rgb(83, 92, 135);
    margin: 0 -30px;
    user-select: none;
    bottom: -20px;
    
}
.nav-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.foot{
    color: white;
    text-decoration: none;
    font-size: 20px;
    z-index: 1;
}

